# Archivos y carpetas innecesarias
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
doc/Road_To_Pro.xlsx

# Configuración local
.env
.vscode/
.idea/
*.log
video2text-venv/

# Archivos de git
.git
.gitignore

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de ayuda / notas personales
*.jpg
*.png
*.drawio
*.bkp
*.dtmp
*.stackdump
useful_commands.txt
sw_architecture.drawio
sample_text.txt
packetization.txt
packetization.md
mongo_document_samples.txt
important_before_deploying_in_cloud.txt
cred.txt
channel_ids.txt
prompts/
graphics/
dependencies.md
notes_hex_arch.txt
readme.md
*.md