video2text-venv/
.env
channel_ids.txt
prompt.txt
sample_text.txt
prompts/
cred.txt
graphics/
doc/Road_To_Pro.xlsx
$sw_architecture.drawio.bkp
doc/$sw_architecture.drawio.bkp


# Kubernetes real secrets
k8s/secret.yaml