video2text-venv/
# Ignore all env files
.env*
# But keep example in the build context
!.env.example
channel_ids.txt
prompt.txt
sample_text.txt
prompts/
cred.txt
graphics/
doc/Road_To_Pro.xlsx
$sw_architecture.drawio.bkp
doc/$sw_architecture.drawio.bkp

# Ignore Office temp files
~$*
*.tmp


# Kubernetes real secrets
k8s/secret.yaml